<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LifeTools.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EBBB54D21D504CDC008A955F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBBB54E61D504CDC008A955F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBBB54F11D504CDC008A955F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
